/*global*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(4, 184, 190);
}
a{
    color: azure;
    text-decoration: none;
}
img{
    max-width: 100%;
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
}
/*header*/
.site-init{
    background-color: rgb(27, 124, 180);
    color: azure;
    padding: 30px;
}
h1{
    text-align: center;
}
.menu-sub{
    display: inline-block;
    text-align: center;
    background-color: yellow;
    padding: 10px;
}

.navigation{
    display: flex;
    justify-content: space-between;
}
/*main*/
.lg-text{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;

}
.sm-text{
    font-size: 18px;
    color: rgb(66, 66, 177);
    margin-bottom: 18px;
}
.footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}
a{
    color: blue;
}
/*footer*/
.lg-text{
    font-size: 27px;
    font-weight: bold;
}
/*gallery*/
.blog-container{
    display: flex;
    gap: 80px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
} 
/*contact*/
.input-control{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 80px;
    width: 80%;
    margin-top: 70px;
    margin-bottom: 70px;
}  